/* BASE CODE */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #FFE5D9;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hmLegend {
  text-align: center;
}

#newActivityFormSubmitBtn {
  width: 100%;
}